[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/dynlibutils"]
	path = vendor/dynlibutils
	url = https://github.com/SlynxCZ/DynLibUtils.git
